@import "tailwindcss";
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body {
  width: 100%;
  height: 100%;
}
/* 
.hello {
  width: 100%;
  height: 90vh;
  background-color: gray;
} */
